body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 22px;
    margin: 20px;
    margin-bottom: 40px;
}

a {
    color: #4761c7;
    text-decoration: none;
}

.setup {
    margin: 0 10px;
}

.setup input {
    font-weight: 300;
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
    padding: 2px;
    width: 80px;
    vertical-align: -1px;
}

.setup select {
    font-weight: 300;
    margin: 0;
    margin-left: 20px;
    font-size: 17px;
    vertical-align: -1px;
}

.setup {
    margin: 20px auto;
    width: 440px;
}

.setup .field {
    margin: 10px 0;
}

.setup label {
    vertical-align: middle;
    font-size: 15px;
    width: 150px;
    text-align: right;
    display: inline-block;
    color: #858585;
}

.tools {
    margin: 20px;
    text-align: center;
    line-height: 20px;
}

.tools a {
    font-weight: bold;
}

#cards {
   display: contents;
   margin: 0 auto;
   position: relative;
}

.card {
    text-align: center;
    background: white;
    margin: 0mm 0mm 0mm 0mm;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px dashed #ccc; */
    /* width: 30%; */
}

footer {
    font-weight: normal;
    margin: 20px;
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
    color: #919191;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        background: white;
    }

    body > * {
        display: none;
    }
    
    #cards {display: grid}
}
